<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cmbchina.baas.easyBaas.mapper.MonitorInfoMapper">
    <resultMap id="BaseResultMap" type="com.cmbchina.baas.easyBaas.model.MonitorInfo">
        <constructor>
            <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="name" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="host" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="deploy_status" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="create_time" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="update_time" javaType="java.lang.String" jdbcType="VARCHAR"/>
        </constructor>
    </resultMap>
    <sql id="Base_Column_List">
        id, `name`, host, deploy_status, create_time, update_time
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from monitor_info
        where id = #{id,jdbcType=INTEGER}
    </select>
    <select id="selectByName" resultType="com.cmbchina.baas.easyBaas.model.MonitorInfo">
        select
        <include refid="Base_Column_List"/>
        from monitor_info
        where `name` = #{name,jdbcType=VARCHAR}
    </select>
    <select id="selectByDeployStatus" resultType="com.cmbchina.baas.easyBaas.model.MonitorInfo">
        select
        <include refid="Base_Column_List"/>
        from monitor_info
        where deploy_status = #{deployStatus,jdbcType=VARCHAR}
    </select>
    <select id="selectByNameLike" resultType="com.cmbchina.baas.easyBaas.model.MonitorInfo">
        select
        <include refid="Base_Column_List"/>
        from monitor_info
        where `name` like '%' || #{name,jdbcType=VARCHAR} || '%'
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from monitor_info
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <delete id="deleteByName">
        delete from monitor_info
        where `name` = #{name,jdbcType=VARCHAR}
    </delete>
    <insert id="insert" parameterType="com.cmbchina.baas.easyBaas.model.MonitorInfo">
        insert into monitor_info (id, `name`, host,
        deploy_status, create_time, update_time
        )
        values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{host,jdbcType=VARCHAR},
        #{deployStatus,jdbcType=VARCHAR}, #{createTime,jdbcType=VARCHAR}, #{updateTime,jdbcType=VARCHAR}
        )
    </insert>
    <insert id="insertSelective" parameterType="com.cmbchina.baas.easyBaas.model.MonitorInfo">
        insert into monitor_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="name != null">
                `name`,
            </if>
            <if test="host != null">
                host,
            </if>
            <if test="deployStatus != null">
                deploy_status,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="host != null">
                #{host,jdbcType=VARCHAR},
            </if>
            <if test="deployStatus != null">
                #{deployStatus,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.cmbchina.baas.easyBaas.model.MonitorInfo">
        update monitor_info
        <set>
            <if test="name != null">
                `name` = #{name,jdbcType=VARCHAR},
            </if>
            <if test="host != null">
                host = #{host,jdbcType=VARCHAR},
            </if>
            <if test="deployStatus != null">
                deploy_status = #{deployStatus,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.cmbchina.baas.easyBaas.model.MonitorInfo">
        update monitor_info
        set `name` = #{name,jdbcType=VARCHAR},
        host = #{host,jdbcType=VARCHAR},
        deploy_status = #{deployStatus,jdbcType=VARCHAR},
        create_time = #{createTime,jdbcType=VARCHAR},
        update_time = #{updateTime,jdbcType=VARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>